html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
 }
#list {
  display: block;
  height: 100%;
  width: 35px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(10%, 10%, 10%, .3);
}
#list div{
  width: 35px;
}
